.main {
  height: 100vh;
  background-color:floralwhite;
  display: flex;
  flex-direction: column;
  padding: 80px;
}

.map-and-shop-form-wrap {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 80px;
}

#map {
  height: 100%;
  width: 600px;
  }

.shop-form-wrap{
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  color: sienna;
}

.shop-form-title {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.field {
  margin: 10px 0;
}

.select-box, .input-defolt {
  width: 100%;
  border: 1px solid sienna;
  border-radius: 10px;
  padding: 3px;
}

.add-btn {
  width: 100%;
  border: 1px solid sienna;
  border-radius: 10px;
  padding: 3px;
  background-color: sienna;
  color: white;
}


.shop-categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.shop-category {
  height: 80px;
  width: 250px;
  background-color: lightskyblue;
  border: 1px solid sienna;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sign-up-message {
  color: sienna;
}