.shop-list-contents-wrap {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-list-content-wrap {
  width: 240px;
  height: 450x;
  padding: 20px;
  text-decoration: none;
}
.shop-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.shop-list-content {
  width: 100%;
  color: sienna;
}