.show-shop-content-wrap {
  height: 400px;
  display: flex;
  justify-content: center;
}

.show-shop-content__img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  margin-right: 30px;
}

.show-shop-explain{
  height: 100%;
  width: 300px;
  color: sienna;
  font-size: 20px;
}

.show-shop-content {
  padding-bottom: 10px;
}

.show-shop-btn {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  background-color: sienna;
  padding: 3px;
  margin-bottom: 10px;
}